
<h4>Create/Edit a Program</h4>
<%= form_for(@program,remote: true) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
  	<label>Name</label>
    <%= f.text_field :title, placeholder: 'Title', style: 'width:100%' %>
  </div>

  
  <div class="field">
  	<label>Ruby Code</label>
    <%= f.text_area :code, placeholder: 'Ruby code for controlling the Leds, functions: color(r,g,b), colorarray([r,g,b])',style: 'height: 400px; width:100%' %>
  </div>
    <div class="actions">
    <%= f.submit 'Run/Save',style: 'width:150px',class:'button'%>
  </div>
<% end %>
