<%css= 'secondary'%>
<%css = 'success' if @active.to_i == program.id %>
<td><%=link_to(program.title, program_execute_path(program.id),method: :post,class:'button '+css,remote: true)%>
<%=link_to('edit', edit_program_path(program.id),class:'button warning',remote: true)%>
<%=link_to('delete', program_path(program.id),method: :delete,class:'button alert',remote: true)%></td>

<td>Errors: <%=program.failed%></td>
