var elem = document.createElement('textarea');
elem.innerHTML = "<%=@program.code.dump[1..-2]%>";
$('#program_code').val(elem.value);
elem.innerHTML = "<%=@program.title.dump[1..-2]%>";
$('#program_title').val(elem.value);